@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

.bodyContainer {
    width: 80%;
    margin: 0 auto;
}

.bodyContainer > header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;
}

.navElements > li {
    list-style: none;
    display: inline;
}

.navElements > li > a {
    text-decoration: none;
    color: black;
    font-size:1.3em;
    margin: 0 3rem;
}

.navElements > li >a:hover{
    font-size: 1.4em;
}

.socialMedia > li {
    list-style: none;
    display: inline;
    margin: 0 1rem;
}

.socialMedia > li > a{
    text-decoration: none;
    color: black;

}

.responsiveMenu {
    display: none;
}

/* 
    Styling the body part of the page.
*/

/*  About section */

.aboutSection {
    margin: 1rem 0 0 0;
    width: 100%;
    height: 100vh;
    position: relative;
}

.aboutSection > img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 10rem;
}

.mainAboutText {
    /* width: 500px; */
    text-align: center;
    position: absolute;
    top: 4%;
    left: 3%;
    font-size: 3em;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

.mainSubAboutText {
    text-align: center;
    position: absolute;
    bottom: 7%;
    font-size: 1.8em;
    font-weight: bold;
    left: 9%;
    background-color: black;
    border-radius: 10px;
    padding: 1rem;
    color: white;
}


/* Feature Section */

.featureSection {
    margin: 2rem 0 0 0;
}

.featureSection > h2 {
    font-size: 2em;
    border-bottom: thin solid black;
    text-align: center;
}

.lodgingFeatureSection {
    margin: 3rem 0;
    /* background-color: aqua; */
    padding: 1rem;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.lodgingFeatureSection > img {
    padding: 2rem 0 0 1rem;
    margin-left: 5rem;
}

.lodgingTextBox {
    /* background-color: blueviolet; */
    padding: 1rem;
    position: relative;
    right: 10%;
    /* font-size: 1.5em; */
}

.lodgingTextBox > h2 {
    margin: 5rem 0 1rem 0;
    font-size: 2.5em !important;
}

.lodgingTextBox > p {
    font-size: 1.2em;
}

.lodgingTextBox > ul {
    margin-left: 1.5rem;
}

.lodgingTextBox > ul > li {
    font-size: 1.2em;
}


/* Lodging Section Style */

.logisticsSection{
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
    /* background-color: gray; */
    padding: 2rem;
}

.logisticsSection > img{
    max-width: 60%;
}

.logisticsSection > div {
    margin: 5rem 0 0 3rem;
}

.logisticsSection > div > h2 {
    font-size: 2.5em;
    margin: 0rem 0 1rem 0;
}

.logisticsSection > div > p {
    font-size: 1.2em;
}
.logisticsSection > div > ul {
    margin-left: 1.5rem;
}
.logisticsSection > div > ul > li {
    font-size: 1.2em;
    /* margin-left: 1rem; */
}

/* Contact Section Style */

.contact {
    padding: 1rem;
}

.contact > h2 {
    text-align: center;
    font-size: 2em;
    margin: 2rem;
    border-bottom: thin solid black;
}

.contact > img {
    max-width: 60%;
    display: block;
    margin: 5rem auto;
}

.contact > h1 {
    display: none;
}

.contact > form {
    /* background-color: gray;   */
    width: 40%;
    margin: 0 auto;
    /* padding: 1rem; */
}

.contact > form > input {
    width: 100%;
    font-size: 1.2em;
    padding: 0.3rem;
    margin: 0.5rem 0;
    outline: none;
}

.contact > form > textarea {
    width: 100%;
    resize: none;
    height: 150px;
    padding: 0.3rem;
    margin: 0.5rem 0;
    font-size: 1.2em;
    outline: none;
}

.sendButton {
    background-color: black;
    color: white;
    width: 150px !important;
    border:none;
    display: block !important;
    margin: 0 auto !important;
    border-radius: 5px;

}

.sendButton:hover {
    background-color: #555;
    cursor: pointer;

}   

.altContact {
    margin: 1rem auto 0 auto;
    width: 18%;
    padding: 1rem;
    /* background-color: gray; */
}



/* Styling Footer. */

footer {
    height: 40vh;
    background-color: black;
    color: white;
    margin-top: 0rem;
    position: relative;
}

footer > div{
    /* background-color: gray; */
    width: 400px;  
    padding: 0.5rem; 
    margin: 3rem auto;  
    position: relative;
    top: 20%;
    display: flex;
    justify-content: space-between;
}

footer > div > ul {
    list-style: none;   
}

footer > div> ul > li {
    margin-top: 1rem;
}

footer > div> ul > li > a {
    color: white;
    text-decoration: none;
    margin-top: 2rem;
}

footer > p {
    position: absolute;
    bottom: 3%;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.footerFollowUs{
    margin-top: 1rem;
}



/* Making it responsive */

@media only screen and (max-width: 600px) {
    .bodyContainer {
        width: 100%;
    }

    .bodyContainer > header > h1 {
        font-size: 2em;
    }


    .bodyContainer > header > nav {
        display: none;
    }

    .socialMedia {
         display: none;
    }

    .responsiveMenu {
        display: block;
        background-color: gray;
    }

    .responsiveMenu > ul > li{
        list-style: none;
        display: inline;
        margin: 0 1rem 0 1rem;
    }

    .responsiveMenu > ul > li > a{
        text-decoration: none;
        color: black;
        font-size: 1em;
    }

    .aboutSection {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .mainAboutText {
        font-size: 1em;
        margin: 0;
        padding: 0.5rem;
    }

    .aboutSection > img{
        width: 100%;
        padding: 10rem 0 3rem 0;
    }

    .mainSubAboutText {
        font-size: 1em;
        margin-top: 0;
        position: static;
        padding: 0.5rem;
    }

    .featureSection > h2 {
        font-size: 1.5em;
    }

    .lodgingFeatureSection {
        flex-direction: column;
    }

    .lodgingFeatureSection > img {
        padding: 0.2rem;
        margin: 0;
    }

    .lodgingTextBox {
        width: 100%;
        /* background-color: gray; */
        /* padding: 1rem; */
        margin: 0 auto;
        margin-left: 1rem;
    }

    .lodgingTextBox > h2 {
        margin: 1rem 0;
        padding: 0;
        text-align: center;
        font-size: 1.5em !important;
    }

    .lodgingTextBox > p {
        text-align: center;
        font-size: 1em;
    }

    .lodgingTextBox > ul > li {
        font-size: 1em;
        margin-left: 1.5rem;
    }

    .logisticsSection {
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
        /* background-color: gray; */
    }

    .logisticsSection > img {
        width: 100%;
        display: block;
        margin: 1rem auto;
    }

    .logisticsSection > div {
        /* background-color: gray; */
        margin: 1rem 0;
        padding: 1rem;
    }

    .logisticsSection > div > h2{
        margin: 1rem 0;
        padding: 0;
        font-size: 1.5em;
        text-align: center;
    }

    .logisticsSection > div > p{
        font-size: 1em;
        margin: 0;
        padding: 0 1rem;
    }

    .logisticsSection > div > ul {
        margin-left: 2.5rem;  
        margin-top: 0;
    }

    .logisticsSection > div > ul > li {
        font-size: 1em;
    }

    .contact {
        width: 100%;
        height: auto;
        /* background-color: gray; */
        margin: 0;
        padding: 0;
    }

    .contact > h2 {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 1.5em !important;
    }

    .contact > form {
        width: 80%
    }

    .contact > form > input {
        font-size: 1em;
    }

    .contact > form > textArea {
        font-size: 1em;
    }

    .altContact {
        width: 60%;
    }

    footer {
        width: 100%;
        height: 20vh;

    }

    footer > div {
        flex-direction: column;
        justify-content: center;
        /* background-color: gray; */
        width: 70%;
        margin: 0 auto 1rem auto !important;
    }

    footer > div > ul > li{
        display: inline;
        margin-left: 2rem;
    }

    .footerResSocialMedia {
        width: 60%;
        margin: 1rem auto;
    }
}